extends layout

block content
  .page-header
    h3 Order Dashboard
       .container
      .row.bs-wizard(style='border-bottom:0;')
        .col-xs-4.bs-wizard-step.active
          .text-center.bs-wizard-stepnum Step 1
          .progress
            .progress-bar
          a.bs-wizard-dot(href='/order')
          .bs-wizard-info.text-center Choose your recipe!
        .col-xs-4.bs-wizard-step.active
          // complete
          .text-center.bs-wizard-stepnum Step 2
          .progress
            .progress-bar
          a.bs-wizard-dot(href='/order_2')
          .bs-wizard-info.text-center Pick a Chef!
        .col-xs-4.bs-wizard-step.active
          // complete
          .text-center.bs-wizard-stepnum Step 3
          .progress
            .progress-bar
          a.bs-wizard-dot(href='#')
          .bs-wizard-info.text-center Time to eat!
 p .row
  p  .form-group
  p    .col-sm-offset-4.col-sm-4
  p        a.btn.btn-default.btn-lg(href='/moxtra')
  p            i.fa.fa-twitter.fa-fw

  form.form-horizontal(id='order-form3', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          script(
          src='https://checkout.stripe.com/checkout.js',
          class='stripe-button',
          data-key=publishableKey,
          data-image='http://i.imgur.com/bbNRs.png',
          data-name='GitFood',
          data-description='GitFood Chef Services ($130.95)',
          data-amount='13095')


    form#myform(onsubmit="emailjs.sendForm('default_service', 'template_JyH9m9Ow', this); return false;", method='post')
      label to_email
      input#email(type='text', name='to_email', placeholder='itsmomito@gmail.com')
      label from_name
      input#fro_name(type='text', name='from_name',placeholder='GitFood Client: Dhanush Patel')
      label to_name
      input#t_name(type='text', name='to_name', placeholder='Moshe Rienhart')
      label message_html
      input#msg(type='text', name='message_html',placeholder='"You have a client: Dhanush Patel, in location: Los Angeles, CA 90095, that has requested the meal(s): "+"meal"+", from you. Please make the meal soon and if you have any questions or concerns, contact the client at: dhanush.patel@ymail.com')
      br
      br
      button
        | Send
    script(type='text/javascript', src='https://cdn.emailjs.com/dist/email.min.js')
    script(type='text/javascript').
      document.getElementById('myform').style.display = 'none';
      document.getElementById("email").value="itsmomito@gmail.com";
      document.getElementById("fro_name").value="GitFood Client: Dhanush Patel";
      document.getElementById("t_name").value="Moshe Rienhart";
      document.getElementById("msg").value="You have a client: Dhanush Patel, in location: Los Angeles, CA 90095, that has requested the meal(s): "+"meal"+", from you. Please make the meal soon and if you have any questions or concerns, contact the client at: dhanush.patel@ymail.com";
      (function email (){
      emailjs.init("user_KrfBwycvNcI8oIQXDGWbT");
      })();
        